{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "proseWrap": "never",
  "endOfLine": "lf",
  "semi": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "sass"
      }
    }
  ],
  "parser": "typescript"
}
